.list {
    background-color: rgb(37, 16, 173);
    margin: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item {
    margin-bottom: 5px;
    font-size: 30px;
}

.item:last-child {
    margin-bottom: 0px;
}